.header_logo h1 {
  color: #fdb830;
  font-family: "Nova Slim", cursive;
  margin-top: 10px;
}
.header {
  margin-top: 20px;
}

.signIn_btn {
  width: 290px;
  padding: 8px;
  border-radius: 8px;
  background: #fdb830;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.exit_btn {
  padding: 8px;
  border-radius: 8px;
  background: #fdb830;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.lk_btn {
  padding: 8px;
  border-radius: 8px;
  background: #fdb830;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_link_list {
  display: flex;
  justify-content: space-between;
}
.nav_link_list li a {
  color: white;
  margin-right: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.nav_link_exit {
  display: flex;
}

.nav_link_exit a {
  color: white;
}
.nav_link_exit li:not(:last-child) {
  margin-right: 30px;
}
