
.movie_card {
  width: 200px;
  height: 390px;
  margin: 40px;
  transition: all .3s;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 3px;

}

.movie_card_content{
    padding: 5px;
    width: 200px;
  height: 390px;
  background-color: #1a1a1a;
 border-radius:3px;
 transition: all .2s;
}

.movie_card_content:hover {
    transform: scale(0.98);
    border-radius: 10px;
   }
   
   .movie_card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

.movie_image img {
  width: 100%;
  height: 300px;
}
.movie_title {
  color: white;
  display: flex;
  justify-content: space-between;
}
.movie_inner {
  font-size: 10px;
  color: rgb(150, 147, 147);
}

.favorite {
  cursor: pointer;
  color: white;
  margin: 10px;
}

.favorite_select {
    cursor: pointer;
    color: rgb(255, 0, 0);
    margin: 10px;
  }
 