.movie_card {
  width: 200px;
 
  margin: 10px;
  transition: all 0.3s;
 background-color: #100e19;
  border-radius: 10px;
  
}

.movie_card_content {
  width: 200px;
  height: 100%;
  background-color: #1f1b2e;
  border-radius: 8px;
  transition: all 0.2s;

}

.movie_card:hover {
  transform:scaleY(1.03);
  transform-origin: bottom;
  transition: 0.4s;
  border-radius: 10px;
}

.movie_card:hover {
  box-shadow: 0px 0px 30px 1px rgba(87, 153, 251, 0.3);
}

.movie_image img {
  width: 100%;
  height: 300px;
  border-radius: 8px 8px 0 0;
}

.movie_info {
  padding: 6px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie_title {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  word-wrap: break-word;
}

.movie_title h4 {
  width: 80%;
}
.movie_inner {
  margin-top: 10px;
  font-size: 10px;
  color: rgb(150, 147, 147);
  text-align: center;
  font-size: 18px;
}

.favorite {
  cursor: pointer;
  color: white;
  margin: 10px;
}

.favorite_select {
  cursor: pointer;
  color: rgb(255, 0, 0);
  margin: 10px;
}

