body{
    color: white
}

.user_name{
    
    margin: auto;
    margin-top: 60px;
    width:170px;
}

.user_login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.user_login span{
    font-size: 35px;
    font-weight: 700;
}

.user_nav{
    margin: auto;
    margin-top: 20px;
    width: 500px;
   
    display: flex;
    justify-content: space-between;
}
.avatar{
    margin: auto;
}


.user_nav_item a{
    font-size: 20px;
    color: white;
}

.lk_btn {
    --color: #171718;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   .lk_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .lk_btn:hover {
    color: #fff;
   }
   
   .lk_btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .lk_btn:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .lk_btn:active:before {
    background: #6e6e72;
    transition: background 0s;
   }